

.wrapper h1 {
	text-align: right;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;

	font-size: 10vw;
	line-height: 0.92em;
	letter-spacing: -0.08em;

	color: white;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	font-family: cursive;

	margin-bottom: 0;
	padding: 12px 24px;
}

.wrapper p {
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
}