
:root {
	--black: #000000;
	--white: #ffffff;
	--red: #882000;
	--cyan: #68d0a8;
	--purple: #a838a0;
	--green: #50b818;
	--blue: #181090;
	--yellow: #f0e858;
	--orange: #a04800;
	--brown: #472b1b;
	--light-red: #c87870;
	--dark-grey: #484848;
	--grey: #808080;
	--light-green: #98ff98;
	--light-blue: #5090d0;
	--light-grey: #b8b8b8;
}

:root {
	--black: #000000;
	--white: #FFFFFF;
	--red: #883932;
	--cyan: #67B6BD;
	--purple: #8B3F96;
	--green: #55A049;
	--blue: #40318D;
	--yellow: #BFCE72;
	--orange: #8B5429;
	--brown: #574200;
	--light-red: #B86962;
	--dark-grey: #505050;
	--grey: #787878;
	--light-green: #94E089;
	--light-blue: #7869C4;
	--light-grey: #9F9F9F;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--light-blue);
}

.wrapper {
	user-select: none;

	width: 60vw;
	height: 60vh;
	position: relative;
	left: calc(20vw);
	top: calc(20vh);
	padding: 8px 12px;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
	font-family: monospace;
	font-weight: bold;

	background-color: var(--blue);
	color: var(--light-grey);
}

#caret {
	margin-left: -0.6ch;
	animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.hidden {
	display: none;
}