
html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.wrapper {
	user-select: none;

	width: 100vw;
	height: 100vh;

	background-color: #cd0a0a;
	font-family: serif;
	color: #eb8f8f;
}

.wrapper h1 {
	text-align: right;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;

	font-size: 30vh;
	line-height: 0.81em;
	letter-spacing: -0.08em;

	color: white;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	font-family: cursive;

	margin-bottom: 0;
	padding: 12px 24px;
}

.wrapper p {
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
}

.hidden {
	display: none;
}